asgiref==3.4.1
attrs==21.2.0
autobahn==21.3.1
Automat==20.2.0
autopep8==1.6.0
boto3==1.12.15
botocore==1.15.49
cffi==1.15.0
channels==3.0.3
constantly==15.1.0
cryptography==35.0.0
daphne==3.0.2
dateutils==0.6.6
Django==3.1.5
django-prometheus==2.1.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.7.0
docutils==0.15.2
gunicorn==20.1.0
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
jmespath==0.10.0
mysqlclient==1.4.2
prometheus-client==0.12.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.20
PyJWT==2.3.0
pyOpenSSL==21.0.0
python-dateutil==2.8.2
pytz==2021.3
s3transfer==0.3.7
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
Twisted==21.7.0
txaio==21.2.1
typing-extensions==3.10.0.2
urllib3==1.25.11
zope.interface==5.4.0
