Django==3.2.24

channels==3.0.3
djangorestframework==3.12.4
dateutils==0.6.6
djangorestframework-simplejwt==4.7.0
mysqlclient==1.4.2
urllib3==1.26.18
wheel==0.38.1
setuptools==65.5.1
boto3==1.26

daphne==3.0.2
gunicorn==20.1.0
